<footer>
  <p>
  &copy; Copyright 2021 Conrad Taylor. All Rights Reserved.
  </p>
  <a href="https://twitter.com/conradwt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @conradwt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</footer>
