<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <%= render FlixWeb.SharedView, "_errors.html", changeset: @changeset %>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <div class="actions">
    <%= submit "Save" %>
  </div>
<% end %>
