<p>==============================</p>

<p>Hi <%= user.email %>,</p>

<p>You can change your email by visiting the URL below:</p>

<p><%= url %></p>

<p>If you didn't request this change, please ignore this.</p>

<p>==============================</p>
