<h1>Show Review</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @review.name %>
  </li>

  <li>
    <strong>Stars:</strong>
    <%= @review.stars %>
  </li>

  <li>
    <strong>Comment:</strong>
    <%= @review.comment %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.movie_review_path(@conn, :edit, @movie, @review) %></span>
<span><%= link "Back", to: Routes.movie_review_path(@conn, :index, @movie) %></span>
